HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.pem
.sh

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.p12
*.key
*.ext
*.csr
*.crt
*.jks
*.json


### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/
**/keystore
!**/src/main/**/build/
!**/src/test/**/build/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
**/hs_err_pid*
**/replay_pid*

# GitHub Actions local testing 
.secret*

# Pulumi Virtual Env
infrastructure/venv/
**/*.pyc

# Pycharm
**/.idea/

# For security purposes
**/.env
### VS Code ###
.vscode/

# CLI logs
cli/*.log